/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

@font-face {
  font-family: Doner;
  src: url(fonts/doner-regulardisplay.woff2);
}
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Doner;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 3px black solid;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
}

.game {
    display: grid;
    height: 50vw;
    width: 50vw;
    min-height: 200px;
    min-width: 200px;
    max-width: 400px;
    max-height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

.box {
    border: 5px rgb(255, 255, 255) solid;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
  padding: 5vh;
  font-size: 46px;
}